<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- http://logback.qos.ch/manual/layouts.html -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %-5p %c{2} - %F - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="modulaLogger" additivity="false">
        <level value="info"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="modula.executor.core.context.ModulaExecutionContext" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="modula.listener.DefaultWorkflowListener" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root level="error">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
